@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=cyrillic,latin);
@import url(http://fonts.googleapis.com/css?family=Mystery+Quest);
@import url(http://fonts.googleapis.com/css?family=Tenor+Sans&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Neucha&subset=cyrillic);


* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	min-width: 800px;
	max-width: 1960px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
padding: 10px 0px 10px 0px;
	height: 150px;
	background: #FFE680;
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    box-shadow:

		0 2px 2px rgba(0,0,0,0.4),
		0 3px 2px rgba(0,0,0,0.3),
		0 4px 2px rgba(0,0,0,0.2)
	;
	background: -moz-linear-gradient(top,  #99CCFF 0%, #333366 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99CCFF), color-stop(100%,#333366)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #99CCFF 0%,#333366 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #99CCFF 0%,#333366 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #99CCFF 0%,#333366 100%); /* IE10+ */
	background: linear-gradient(top,  #99CCFF 0%,#333366 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99CCFF', endColorstr='#333366',GradientType=0 ); /* IE6-9 */
	background-color: #99CCFF;
}

#header .giganttitle {
	vertical-align: middle;
	text-align: center;
	position: relative;
	bottom: 100px
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 100px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
	padding: 0 20px 0 20px;
    margin: 10px 10px 10px 10px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {

	float: left;
	width: 80%;
	height: 0px;
	margin-left: -100%;
	position: relative;
	background: #D89DD2;
	font-family: 'Tenor Sans', sans-serif;
	font-size: 12px;
}

#sideLeft_menu li{
list-style: none;

font-size:20px;
}

.submit {
	display: block; /* наделяет ссылку свойствами блока, из-за чего она заполняет весь содержащий ее элемент LI. При этом вся область реагирует на щелчок мышью. */
	text-decoration: none;
	/*width: 250px;*/
	/*height: 32px;*/
	padding: 0 0 2px;
	/*font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;*/
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	color: #7B5777;
	text-shadow: 1px 1px #EACAE6;
	border: 1px solid #AD7CA8;
	border-top: 1px solid #DA9FD4;
	border-bottom: 1px solid #865D82;
	box-shadow:
		inset 0 1px #F2DCEF,
		inset 1px 0 #E6C0E2,
		inset -1px 0 #E6C0E2,
		inset 0 -1px #DDABD9,
		0 2px #946890,
		0 3px #865D82,
		0 4px 2px rgba(0,0,0,0.4)
	;
	background: -moz-linear-gradient(top,  #e8c4e4 0%, #d698d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8c4e4), color-stop(100%,#d698d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8c4e4 0%,#d698d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8c4e4 0%,#d698d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8c4e4 0%,#d698d0 100%); /* IE10+ */
	background: linear-gradient(top,  #e8c4e4 0%,#d698d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c4e4', endColorstr='#d698d0',GradientType=0 ); /* IE6-9 */
	background-color: #DFAEDA;
}

.submitaction {
	display: block; /* наделяет ссылку свойствами блока, из-за чего она заполняет весь содержащий ее элемент LI. При этом вся область реагирует на щелчок мышью. */
	text-decoration: none;
	/*width: 250px;*/
	/*height: 32px;*/
	padding: 0 0 2px;
	/*font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;*/
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	color: #7B5777;
	text-shadow: 1px 1px #EACAE6;
	border: 1px solid #AD7CA8;
	border-top: 1px solid #DA9FD4;
	border-bottom: 1px solid #865D82;
	box-shadow:
		inset 0 1px #F2DCEF,
		inset 1px 0 #E6C0E2,
		inset -1px 0 #E6C0E2,
		inset 0 -1px #DDABD9,
		0 2px #946890,
		0 3px #865D82,
		0 4px 2px rgba(0,0,0,0.4)
	;
	background: -moz-linear-gradient(top,  #e8c4e4 0%, #d698d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8c4e4), color-stop(100%,#d698d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8c4e4 0%,#d698d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8c4e4 0%,#d698d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8c4e4 0%,#d698d0 100%); /* IE10+ */
	background: linear-gradient(top,  #e8c4e4 0%,#d698d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c4e4', endColorstr='#d698d0',GradientType=0 ); /* IE6-9 */
	background-color: #DFAEDA;
    	top: 3px;
	border: 1px solid #AF80AB;
	border-top: 1px solid #8E678A;
	border-bottom: 1px solid #C08CBB;
	background: #D89DD2;
	box-shadow: inset 0 1px 2px #A763A0;
}

.submit::-moz-focus-inner{border:0}

.submit:hover {
    color: #6745C2;
	border-top: 1px solid #CA91C4;
	box-shadow:
		inset 0 1px #E9C7E6,
		inset 1px 0 #E6C0E2,
		inset -1px 0 #E6C0E2,
		inset 0 -1px #E6C1E2,
		0 2px #946890,
		0 3px #865D82,
		0 4px 2px rgba(0,0,0,0.4)
	;
	background: -moz-linear-gradient(top,  #daa2d4 0%, #e0b1db 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daa2d4), color-stop(100%,#e0b1db)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #daa2d4 0%,#e0b1db 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #daa2d4 0%,#e0b1db 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #daa2d4 0%,#e0b1db 100%); /* IE10+ */
	background: linear-gradient(top,  #daa2d4 0%,#e0b1db 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daa2d4', endColorstr='#e0b1db',GradientType=0 ); /* IE6-9 */
	background-color: #DFAEDA;
}
.submit:active {
	top: 3px;
	border: 1px solid #AF80AB;
	border-top: 1px solid #8E678A;
	border-bottom: 1px solid #C08CBB;
	background: #D89DD2;
	box-shadow: inset 0 1px 2px #A763A0;
}

.submit_edit {
    /*font-size:10px;
    background-color: #DF4555;*/
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: 0px;
	width: 20%;
	height: 0px;
	left: 80%;
	top: 0px;
	margin-left: 0px;
	position: absolute;
	background: #FFACAA;
    /*min-height: 800px;*/
    	box-shadow:
		inset 0 1px #F2DCEF,
		inset 1px 0 #E6C0E2,
		inset -1px 0 #E6C0E2,
		inset 0 -1px #DDABD9,
		0 2px #946890,
		0 3px #865D82,
		0 4px 2px rgba(0,0,0,0.4)
	;
	background: -moz-linear-gradient(bottom,  #e8c4e4 0%, #d698d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#e8c4e4), color-stop(100%,#d698d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  #e8c4e4 0%,#d698d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  #e8c4e4 0%,#d698d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  #e8c4e4 0%,#d698d0 100%); /* IE10+ */
	background: linear-gradient(bottom,  #e8c4e4 0%,#d698d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8c4e4', endColorstr='#d698d0',GradientType=0 ); /* IE6-9 */
	background-color: #DFAEDA;
    border-radius: 0px 0px 6px 6px;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    font-family: 'Mystery Quest', cursive;
    font-size: 15px;
	margin: -30px auto 0;
	min-width: 800px;
	max-width: 1960px;
	height: 30px;
	width: 100%;
	background: #BFF08E;
	position: fixed;

box-shadow:

		0 -2px 2px rgba(0,0,0,0.4),
		0 -3px 2px rgba(0,0,0,0.3),
		0 -4px 2px rgba(0,0,0,0.2)
	;
	background: -moz-linear-gradient(top,  #99CCFF 0%, #333366 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99CCFF), color-stop(100%,#333366)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #99CCFF 0%,#333366 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #99CCFF 0%,#333366 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #99CCFF 0%,#333366 100%); /* IE10+ */
	background: linear-gradient(top,  #99CCFF 0%,#333366 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99CCFF', endColorstr='#333366',GradientType=0 ); /* IE6-9 */
	background-color: #99CCFF;
    border-radius: 10px 10px 0 0;
}
/*----------------------------------------------------------------------------*/

.login{
border-radius: 20px;
background: #F4E680;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    
    box-shadow:

		0 2px 2px rgba(0,0,0,0.4),
		0 3px 2px rgba(0,0,0,0.3),
		0 4px 2px rgba(0,0,0,0.2)
	;
	background: -moz-linear-gradient(top,  #99CCFF 0%, #333366 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99CCFF), color-stop(100%,#333366)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #99CCFF 0%,#333366 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #99CCFF 0%,#333366 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #99CCFF 0%,#333366 100%); /* IE10+ */
	background: linear-gradient(top,  #99CCFF 0%,#333366 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99CCFF', endColorstr='#333366',GradientType=0 ); /* IE6-9 */
	background-color: #99CCFF;
    padding:30px;
    margin:30px auto 0;
}

.login td{
    padding:10px;
}

.textred {
    margin:30px auto 0;
    font-family: 'Mystery Quest', cursive;
    font-size: 15px;
    height: 100%;
    width: 100%; 
    /*background: #BFF08E;*/
    position: relative;
    text-align:center;
}

.bashka {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.kol {
    zoom: 1;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    behavior: url(/PIE.htc);
 }

.kol img {
    display: block;
    visibility: hidden;
    behavior: url(/PIE.htc);
}

/*Другие параметры*/

.imgico {width:150px; height:150px}

#sidebar{overflow:hidden;position:relative;background-color:#eee;}

.textareafull {width:100%;}

.generaltext {font-family: 'Neucha', cursive; font-size: 18px;}



#buttonUp{
  border-radius: 5px;
  position:fixed;
  text-align:center;
  margin: 0 12% 30px 88%;
  display: none;
  }

#buttonUp a{font:16px; font-family: 'Mystery Quest', cursive;}

.footerviz #footer{
  text-align: right;
  }

textarea {border-radius: 5px;margin:2px;padding: 3px;font-weight: bold;}
textarea:hover {background-color:whitesmoke;}
textarea:focus {background-color:lavender;}
input {border-radius: 5px;font-weight: bold;}
input:hover {background-color:whitesmoke;}
input:focus {background-color:lavender;}


.table_uni {text-align: center; border-color: black; margin: 10px; border-radius: 3px;}
.table_uni td {padding: 3px;}
.table_uni tr:hover {background-color:white;cursor: crosshair;}
.table_uni td:hover {background-color:SkyBlue;}

#t0.fix {background-color:SkyBlue;position:fixed;text-align: center; border-color: black; border-radius: 3px;}
#t0{background-color:SkyBlue;}
#t0:hover{background-color:lavender;}
#t0.fix:hover {background-color:lavender;text-align: center; border-color: black; border-radius: 3px;}

td.fixx {background-color:#99CCFF;}
td.fixx:hover {background-color:whitesmoke;}

tr.fixx {background-color:#99CCF5;}
tr.fixx:hover {background-color:SkyBlue;}

tr.fixx td.fixx {background-color:whitesmoke;}

.hidform {visibility: hidden;}
.visform {visibility: visible;}